.stats {
	font-size: 18px;
	padding: 0.25rem 1rem;
	background-color: var(--primary-bg-color);
	border-radius: var(--radius-1);

	&__title {
		font-size: 24px;
		margin-bottom: 0.5rem;
	}

	&__description {
		margin: 1rem 0;
	}

	&__offers {
		border-collapse: collapse;
		background-color: ghostwhite;
		width: 100%;
		border-radius: var(--radius-2);
		margin-top: 3rem;
	}

	&__offers__caption {
		caption-side: bottom;
		padding: 10px;
		font-weight: bold;
	}

	&__offers__thead__tr__th,
	&__offers__tbody__tr__td {
		padding: 10px;
		text-align: left;
	}

	&__offers__thead__tr__th {
		border-bottom: 1px solid #d9d9d9;
	}

	&__offers__thead__tr__th {
		color: #838383c7;
		text-align: left;
	}

	&__offers__tbody__tr:nth-child(even) {
		background-color: var(--light-purple-bg-color);
	}
}
