.filters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transition: margin-bottom 0.8s ease;
	margin-bottom: 10px;
}

.selected-tags {
	transition:
		min-height 0.8s ease,
		opacity 0.3s ease;
	min-height: 94px;
	opacity: 1;

	&:empty {
		opacity: 0;
	}
}
