:root {
	--primary-bg-color: #ffffff;
	--secondary-bg-color: #f4f5f9;
	--light-purple-bg-color: #f1eefc;
	--dark-purple-bg-color: #7650e0;

	--primary-button-color: #7650e0;
	--primary-button-hover-color: #8661ec;
	--secondary-button-color: #ffffff;
	--secondary-button-hover-color: #e9e2ff;
	--btn-border-color: #7650e0;
	--checkbox-border-color: #0e0e2c;

	--danger-text-color: #fc573b;
	--white-text-color: #ffffff;

	--black-text-color: #0e0e2c;
	--purple-text-color: #7650e0;
	--blue-text-color: #0074ff;
	--yellow-text-color: #f0ba1c;
	--gray-text-color: #6b7280;

	--primary-border-color: #7650e0;

	--radius-1: 16px;
	--radius-2: 10px;
	--radius-3: 8px;
	--radius-4: 6px;
}

html {
	height: 100%;
}

html,
p {
	margin: 0;
}

body {
	color: var(--black-text-color);
	padding: 50px;
	font-family: 'Work sans', Helvetica, Arial, sans-serif;
	background-color: var(--secondary-bg-color);
}

.btn {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	padding: 8px 16px;
	border: 1px solid var(--btn-border-color);
	border-radius: 10px;
	cursor: pointer;
}
.btn-primary {
	color: var(--white-text-color);
	background-color: var(--primary-button-color);
	box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover {
	background-color: var(--primary-button-hover-color);
}
.btn-secondary {
	background-color: var(--primary-bg-color);
	color: var(--purple-text-color);
}
.btn-secondary:hover {
	background-color: #e9e2ff;
}
.btn-danger {
	background-color: var(--white-text-color);
	color: var(--danger-text-color);
	padding: 0;
	border: none;
}
.btn-danger:hover {
	color: indianred;
}

.remote-chip {
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	padding: 7px 10px;
	height: 33px;
	border-radius: var(--radius-2);
}
.partial-remote-chip {
	color: var(--purple-text-color);
	background-color: #f1eefc;
}
.full-remote-chip {
	color: var(--blue-text-color);
	background-color: #e5f3fe;
}
.punctual-remote-chip {
	color: var(--yellow-text-color);
	background-color: #fff8e5;
}

.filter-tag {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 16px;
	background-color: var(--secondary-button-color);
	border: 1px solid var(--primary-border-color);
	border-radius: 38px;
	margin-right: 10px;
}

.close {
	color: var(--white-text-color);
	font-size: 10px;
	height: 20px;
	width: 20px;
	background-color: var(--dark-purple-bg-color);
	border: none;
	border-radius: 50%;
	cursor: pointer;
	margin-left: 20px;
	text-align: center;
}

@supports (-moz-appearance: none) {
	.close {
		transform: translateY(-0.06em);
	}
}

.close-modal {
	height: 26px;
	width: 26px;
	position: absolute;
	right: 0;
}
