.job-card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--primary-bg-color);
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 0.5rem;

	&__body {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		padding-left: 20px;
	}

	&__body,
	&__info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__body__logo {
		display: grid;
		place-items: center;
		align-items: center;
		line-height: 1;
		letter-spacing: 0;
		font-size: 38px;
		font-weight: 600;
		color: var(--purple-text-color);
		background-color: var(--light-purple-bg-color);
		width: 76px;
		height: 76px;
		border-radius: var(--radius-4);
	}

	@supports (-moz-appearance: none) {
		&__body__logo__letter {
			transform: translateY(0.05em);
		}
	}

	&__body__details,
	&__info__details {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;
	}

	&__body__details {
		margin-left: 20px;
	}
	&__body__details__job {
		font-size: 18px;
		font-weight: 500;
		margin-right: 10px;
	}

	&__body__details__company,
	&__body__details__time {
		font-weight: 400;
		color: var(--gray-text-color);
	}

	&__body__details__dash {
		display: inline-block;
		width: 84px;
		border: 1px solid var(--gray-text-color);
		vertical-align: middle;
		margin: 0 10px;
	}

	&__info__details {
		font-size: 18px;
		font-weight: 400;
		width: 10rem;
		margin-right: 3rem;
	}
	&__info__details__salary {
		color: var(--purple-text-color);
	}
}
